{% extends "base.html" %}
{% block title %}Akatsuki - Home{% endblock %}
{% block content %}
<div class="h-screen flex flex-col justify-center items-center text-center -mt-36">
 <div>
 <div class="cloud-symbol">☁</div>
 <h1 class="text-7xl font-extrabold akatsuki_title akatsuki_title_glow mt-3">AKATSUKI</h1>
 <p class="akatsuki_subtitle akatsuki_subtitle_glow mt-5">THE ORGANIZATION OF DAWN</p>
 <p class="akatsuki_p_font max-w-xl mt-8">Step into the Shadows where Legends are born and Chaos meets Community</p>
 </div>
 <div class="mt-8">
 <a href="{{ url_for('routes.active_poll') }}"
class="inline-flex items-center px-6 py-3 bg-red-600 hover:bg-red-700 text-white font-medium rounded-full transition-all duration-300 hover:-translate-y-1 hover:shadow-xl">
 <i class="fas fa-vote-yea mr-2"></i>
 POLLS
 </a>
 </div>
</div>
{% endblock %}