{% extends "base.html" %} 
{% block title %}Akatsuki - Login{% endblock %} 
{% block content %}
<div class="min-h-screen flex items-center justify-center -mt-16">
  <div class="text-center">
    <div class="mb-12">
      <h4 class="akatsuki_subtitle akatsuki_subtitle_glow">WELCOME TO</h4>
      <h1 class="text-7xl font-extrabold akatsuki_title akatsuki_title_glow mt-5">AKATSUKI</h1>
    </div>
    <div>
      <a
        href="{{ auth_url }}"
        class="discord_glow discord_btn_font inline-flex items-center px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-full transition-all duration-300 hover:-translate-y-1 hover:shadow-xl">
          <i class="fab fa-discord mr-2"></i>
          CONNECT WITH DISCORD
        </a>
    </div>
  </div>
</div>
{% endblock %}